.banner{
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%), url('../../images/pietro-jeng-n6B49lTx7NM-unsplash.jpg');
  color: white;
  padding: 150px 0px;
  margin: 0px;
  background-size: cover;
  background-position: center;
}
/* images from https://unsplash.com/photos/n6B49lTx7NM */

.banner::after: {
  background-image: url();
  background-size: cover;
  background-position: center;
}

.banner h1 {
font-size: 50px;

}
.banner h2 {
font-size: 30px;
font-weight: lighter;
margin-bottom: 40px;

}
